<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
  		<meta charset="UTF-8" />
  		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  		<link rel="stylesheet" href="css/main.css" type="text/css" />
	{% endblock %}
</head>
<body>
	<div class="container-fluid">
	{% include 'components/nav.html' %}
	{% block banner %}{% endblock %}
	{% block content %}
		
	{% endblock %}

	{% block footer %}{% endblock %}
	</div>
	

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>	
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>