<div class="row AwareWrapper">
	<div class="col s12">
		<div class="row">
			<div class="col s8">
				<h5>DIAGNOSIS AND AWARENESS</h5>
				<p>kai will analyze all those accounts and just like any friend, come up with a series of recommendations and goals through our customized algorithm. Don't worry we keep track of these behind the scenes to see how well we are able to facilitate better financial health.</p>
			</div>
			<div class="col s4">
				<img src="img/aware.png" class="responsive-img" alt="signup img">
			</div>
		</div>
		<hr>
	</div>
</div>
