
<div class="row BannerWrapper">
	<div class="col s12 m12 l12">
		<img src="img/homepage-asset.png" alt="banner image" width="100%"/>
		<div class="inner-banner-wrap">
			<p>Artificial Intelligence based Financial coach delivered through text.</p>
			<p>Meet Kai, your financial coach and confidante.Kai will help you change your financials at the source, your mind and heart. Be empowered with the awareness of your patterns and then change them.</p>
			<button type="submit" class="btn blue-border-btn">SIGN UP</button>
		</div>
		
	</div>
	<div class="col s12 m7 l7"></div>
</div>
