<div class="row BannerWrapper">
	<div class="col s12">
			<div class="row">
				<div class="col s4">
					<p>Artificial Intelligence based Financial coach delivered through text.</p>
					<p>Meet Kai, your financial coach and confidante.Kai will help you change your financials at the source, your mind and heart. Be empowered with the awareness of your patterns and then change them.</p>
					<button type="submit" class="btn">SIGN UP</button>
				</div>
				<div class="col s8"></div>
			</div>
	</div>
</div>