<div class="row FooterWrapper hide-on-small-only">
	<div class="col s12">
		<nav>
			<div class="nav-wrapper">
			  <a href="#" class="brand-logo right">Logo</a>
			  <ul id="nav-mobile" class="left">
			    <li><a href="#">Blog</a></li>
			    <li><a href="#">About</a></li>
			    <li><a href="#">Jobs</a></li>
			    <li><a href="#">Contact</a></li>
			    <li><a href="#">Privacy & Terms</a></li>
			  </ul>
			</div>
		</nav>
	</div>
</div>

<div class="row FooterWrapper center-align hide-on-med-and-up">
	<div class="col s12">
	  <a href="#" class="brand-logo">Logo</a><br>
	  <ul id="nav-mobile" class="">
	    <li><a href="#">Blog</a></li>
	    <li><a href="#">About</a></li>
	    <li><a href="#">Jobs</a></li>
	    <li><a href="#">Contact</a></li>
	    <li><a href="#">Privacy & Terms</a></li>
	  </ul>
	</div>
</div>
