 <nav class="TopNav">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">
      <img src="img/logo.png" class="responsive-img" alt="logo image">
    </a>
    <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down TopNav-links">
      <li><a href="#">Our Mission</a></li>
      <li><a href="#">For Investors</a></li>
      <li><a href="#"><button type="submit" class="btn TopNavLoginBtn">Login</button></a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="#">Our Mission</a></li>
      <li><a href="#">For Investors</a></li>
      <li><a href="#"><button type="submit" class="btn TopNavLoginBtn">Login</button></a></li>
    </ul>
  </div>
</nav>