<div class="row PatternWrapper">
	<div class="col s12">
		<div class="row">
			<div class="col s12 m4 l4">
				<img src="img/dollar.png" class="responsive-img" alt="signup img">
			</div>
			<div class="col s12 m8 l8">
				<h5>BREAK BEHAVIOUR PATTERNS</h5>
				<p>Kai will become your accountability partner in ways that will make you laugh and even suprise. In order to change you must first become aware. Using behavioral economic principles and basic psychology you will change your financial habits. This is Kai's promise. All through simple text messages.</p>
			</div>
		</div>
	</div>
</div>
