<div class="row SubscribeWrapper hide-on-small-only">
	<div class="col s12 m8 l8">
		<p>We're making it easier to save money, starting at your habits, in real time</p>
		<p>Get notified when you can use @kai, join our waitlist.</p>
		<input type="text" placeholder="what's your email address?"><input type="submit" value="SIGN UP"/>
	</div>
	<div class="col s12 m4 l4">
		<img src="img/brain.png" class="responsive-img" alt="subscribe img">
	</div>
</div>

<div class="row SubscribeWrapper hide-on-med-and-up">
	<div class="col s12 m4 l4">
		<img src="img/brain.png" class="responsive-img" alt="subscribe img">
	</div>
	<div class="col s12 m8 l8">
		<p>We're making it easier to save money, starting at your habits, in real time</p>
		<p>Get notified when you can use @kai, join our waitlist.</p>
		<input type="text" placeholder="what's your email address?"><input type="submit" value="SIGN UP"/>
	</div>
</div>