<div class="row SyncWrapper">
	<div class="col s12">
		<div class="row">
			<div class="col s4">
				<img src="img/sync.png" class="responsive-img" alt="signup img">
			</div>
			<div class="col s8">
				<h5>SYNC UP AND SIGN UP</h5>
				<p>We have got to start somewhere, and that somewhere is with syncing your bank accounts from credit cards. It's time to bear your truth, no judgement we promise. This is a line in the sand, a place to start and togetherwith Kai you can only prosper from here.</p>
			</div>
		</div>
		<hr>
	</div>
</div>

