.AwareWrapper{
	padding-left: 5%;
    padding-right: 5%;
    padding-top:2%;
    padding-bottom:3%;

    @media #{$medium-and-up} {
        padding-left: 10%;
        padding-right: 10%;
    }

    img{
    	width:100px;
    	float: none;

        @media #{$medium-and-up} {
            width: 200px;
            float: right;
        }
    }

    h5{
    	margin-bottom: 5%;
    }

    p{
        font-size: 1.2em;
    	line-height: 30px;	
    }

    .row{
    	padding-bottom:5%;
    }
}

hr{
    border-color: #F7F6F0;
    border: 1px solid #F7F6F0;
}