.BannerWrapper{
	background-color: #F7F6F0;
	padding-left: 5%;
    padding-right: 5%;
    padding-top:5%;
    padding-bottom:5%;

    @media #{$medium-and-up} {
    	padding-left: 10%;
    	padding-right: 10%;
    }

    
	p{
	
		font-size: 1.1em;
		line-height: 30px;
		margin-bottom: 15%;

	    &:first-child{
	    	font-size: 1.5em;
	    	margin-bottom: 0px;
	    }

    }
}

.blue-border-btn{
	background:none;
	border:3px solid #3EECEA;
	color:#3EECEA;
	font-size:1.2em;
	float:right;

	@media #{$medium-and-up} {
		float: none;
	}

	&:hover{
		background:none;
	}

	&:focus{
		background:none;
	}
}

