.BannerWrapper{
	background-color: #F7F6F0;
	padding-left: 10%;
    padding-right: 10%;
    padding-top:5%;
    padding-bottom:5%;

    
	p{
	
		font-size: 1.1em;
		line-height: 30px;
		margin-bottom: 15%;

	    &:first-child{
	    	font-size: 1.5em;
	    	margin-bottom: 0px;
	    }

    }
}

