.FooterWrapper{
	padding-left: 10%;
    padding-right: 10%;

    nav{
    	background: none;
    	box-shadow:none;
    }

	a.brand-logo{
		img{
			width: 100px;
		}
	}

	ul {
		li a{
			color: #B0B0B0;

			&:hover{
				background:none;
			}
		}
	}
}

