
.SubscribeWrapper{
	padding-left: 5%;
    padding-right: 5%;
    padding-top:8%;
    padding-bottom:8%;
    background-color: #F7F6F0;

    @media #{$medium-and-up} {
    	padding-left: 10%;
    	padding-right: 10%;
    }

    input[type="text"] {
	    width: 200px;
	    height: 30px;
	    padding-right: 25%;
	    border: 1px solid #ccc;
	    text-indent: 10px;

	    &:focus{
	    	border-bottom:0px solid #ccc;
	    	box-shadow:none;
	    }
	}

	input[type="submit"] {
	    margin-left: -50px;
	    height: 32px;
	    background: #3EECEA;
	    color: white;
	    border: 1px solid #3EECEA;
	    -webkit-appearance: none;
	    padding: 2px 15px;
	    margin-left: 0px;

	    &:focus{
	    	 border: 1px solid #3EECEA;
	    	 outline: none;
	    }
	}

	img{
		float: none;

		@media #{$medium-and-up} {
			width:200px;
			float: right;	
		}
	}

	p{
		font-size: 1.2em;
    	margin-bottom: 35px;
	
		&:first-child{
			font-size: 1.5em;
			margin-bottom: 0px;
		}
	}
}



