
.SubscribeWrapper{
	padding-left: 7%;
    padding-right: 7%;
    padding-top:7%;
    padding-bottom:3%;

    input[type="text"] {
	    width: 200px;
	    height: 23px;
	    padding-right: 25%;
	    border: 1px solid #ccc;
	}

	input[type="submit"] {
	    margin-left: -50px;
	    height: 25px;
	    background: #3EECEA;
	    color: white;
	    border: 0;
	    -webkit-appearance: none;
	    padding: 2px 15px;
	}
}



