.SyncWrapper{
	padding-left: 10%;
    padding-right: 10%;
    padding-top:7%;
    padding-bottom:3%;

    img{
    	width:200px;
    }

    h5{
    	margin-bottom: 5%;
    }

    p{
        font-size: 1.2em;
    	line-height: 30px;	
    }

    .row{
    	padding-bottom:5%;
    }
}

hr{
	border-color: #F7F6F0;
    border: 1px solid #F7F6F0;
}